body {
  height: 200vh;
  margin: 0;
}

header {
  font-family: "cascadia code";
  height: 100px;
  max-width: 100%;
  position: fixed;
}

.header-container {
  background-color: #ed2224;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 100px 10px 100px;
}

.logo {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
}

.nav-container {
  height: 120px;
  display: flex;
}

.nav-container ul {
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.nav-container ul li {
  padding: 15px;
  cursor: pointer;
  transition: all 0.6s;
  height: 50px;
}

.nav-container ul li:hover {
  transform: translateY(-30px);
  color: beige;
  transition: ease-in 0.6s;
}

.order {
  display: flex;
}

.search {
  display: flex;
  position: relative;
  margin-top: 5px;
}

.search i {
  position: absolute;
  top: 6px;
  left: 250px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
}

.search-bare input {
  flex-grow: 1;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
}

.button {
  margin-left: 40px;
  background-color: #eb4a4c;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: #eb4a4c;
  transform: scale(1.1);
  transition: 0.4s;
}
